<nav class="navbar navbar-expand-md fixed-top" id="mainNav">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navcol-1">
          <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/">
          <img src="/img/artwork/eagle.png"/>
        </a>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-shadow" href="#synopsis">{{params.navbar.synopsis}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow" href="#team">{{params.navbar.team}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow" href="#order">{{params.navbar.order}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow" href="#contact">{{params.navbar.contact}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow" href="#contact">{{params.navbar.preview}}</a>
                </li>
                <!-- <li class="dropdown">
                  <a class="nav-link text-shadow dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{params.navbar.language}}</a>
                  <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item js-scroll-trigger">English</a>
                      <a class="dropdown-item js-scroll-trigger">Ελληνικα</a>
                  </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
